// app global css in Stylus form
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

.container
    max-width 1140px
    margin 0 auto

.noto 
    font-family 'Noto Sans JP', sans-serif;

